.col-xs-12
  .jumbotron
    %h1 Run Log
    %p This is a record of all my recorded runs, dating back to the very beginning.
    = link_to "View all #{pluralize(Run.count, 'run')}", runs_path, class: 'btn btn-primary'
  .panel.panel-primary
    .panel-heading
      #{Run.count} runs for #{pluralize(total_mileage, 'total mile')}
    %ul.list-group{start: years.min}
      - greatest_mileage = years.collect {|y| mileage_for_year(y)}.max
      - years.each do |y|
        %li.list-group-item
          %h4.list-group-item-heading
            = link_to "#{y} (#{pluralize(year_runs(y).size, 'run')})", runs_path(year: y)
          .progress.list-group-item-text
            .progress-bar{style: "width: #{mileage_for_year(y) / greatest_mileage * 100}%"}
              = pluralize(mileage_for_year(y), 'mile')