.row
  .col-12
    %h1 Run Log
    %p This is a record of all my recorded runs, dating back to the very beginning.
.row
  .col
    .card#mileage-bar-graph
      .card-header
        #{pluralize(number_of_runs, 'run')} for #{pluralize(total_mileage, 'total mile')}
      .card-body
        - years.each do |y|
          %a{href: runs_path(filter_date: true, start_date: "#{y}-01-01", end_date: "#{y}-12-31"), class: mileage_bar_visibility(y, years.max)}
            = render 'shared/graph_bar', bar_height: mileage_for_year(y) / 5,
                                        tooltip: pluralize(year_runs(y).size, 'run'),
                                        label_category: y,
                                        label_amount: mileage_for_year(y)