.col-12
  .jumbotron
    %h1 Run Log
    %p This is a record of all my recorded runs, dating back to the very beginning.
    = link_to "View all #{pluralize(Run.count, 'run')}", runs_path, class: 'btn btn-primary'
  .card
    .card-header
      #{Run.count} runs for #{pluralize(total_mileage, 'total mile')}
    .card-body.container
      - years.each do |y|
        %a{href: runs_path(year: y), class: ('d-none d-sm-inline' if y < years.max - 4)}
          = render 'shared/graph_bar', bar_height: mileage_for_year(y) / 5,
                                       tooltip: pluralize(year_runs(y).size, 'run'),
                                       label_category: y,
                                       label_amount: mileage_for_year(y)