= form_for(run) do |f|
  = render 'form_error', run: run
  .form-group.row
    = f.label :start_time_string, 'Start time', class: 'col-sm-3'
    .col-sm-4.col-md-3
      = f.text_field :start_time_string, id: 'start-time', class: 'form-control'
  .form-group.row
    .col-sm-offset-3.col-sm-4.col-md-3
      .form-check
        %label
          = f.check_box :is_night
          Night run
  .form-group.row
    = f.label :distance, 'Distance', class: 'col-sm-3'
    .col-sm-4.col-md-3
      .input-group
        = f.number_field :distance, class: 'form-control', step: 0.01, min: 0
        .input-group-append
          %span.input-group-text miles
  .form-group.row
    = f.label :duration_string, 'Duration', class: 'col-sm-3'
    .col-sm-4.col-md-3
      = f.text_field :duration_string, class: 'form-control'
      %p.form-text mm:ss or h:mm:ss format
  .form-group.row
    = f.label :temperature, 'Temperature', class: 'col-sm-3'
    .col-sm-4.col-md-3
      .input-group
        = f.number_field :temperature, class: 'form-control', in: -10..110
        .input-group-append
          %span.input-group-text &deg;F
      %p.form-text At start of run
    .col-sm-4.col-md-3
      = f.select :weather_type_id, WeatherType.all.collect {|wt| [wt.name, wt.id]}, {include_blank: true}, class: 'form-control'
  .form-group.row
    = f.label :elev_gain, 'Elevation gain', class: 'col-sm-3'
    .col-sm-4.col-md-3
      .input-group
        = f.number_field :elev_gain, class: 'form-control', min: 0
        .input-group-append
          %span.input-group-text feet
  .form-group.row
    .col-sm-offset-3.col-sm-4.col-md-3
      .form-check
        %label
          = f.check_box :is_race, class: 'is-race-checkbox'
          This run is a race
    .col-sm-3
      = f.text_field :race_name, class: 'form-control race-name-input', placeholder: 'Race name', style: 'display: none'
  .form-group.row
    = f.label :shoe_id, 'Shoe', class: 'col-sm-3'
    .col-sm-4.col-md-3
      = f.select :shoe_id, Shoe.all.collect {|s| [s.model, s.id]}, {include_blank: true}, class: 'form-control'
  .form-group.row
    = f.label :notes, 'Notes', class: 'col-sm-3'
    .col-sm-8.col-md-6
      = f.text_area :notes, rows: 3, class: 'form-control'
  .form-group.row
    .col-sm-7
      = submit_tag button_title, class: 'btn btn-primary'