<%= bootstrap_form_for(@run, layout: :horizontal) do |f| %>
  <%= render 'form_error' %>

  <%= Time.use_zone("Eastern Time (US & Canada)") do
    f.datetime_picker :start_time_string, label: "Start time", control_col: "col-sm-3"
  end %>

  <%= f.form_group :is_night do %>
    <%= f.check_box :is_night, label: "Night run" %>
  <% end %>
  <%= f.number_field :distance, label: "Distance", append: "miles", step: 0.01, control_col: "col-sm-3" %>
  <%= f.text_field :duration_string, label: "Duration", control_col: "col-sm-3", help: "mm:ss or h:mm:ss format" %>
  <%= f.number_field :temperature, label: "Temperature", append: "°F", help: "At start of run", control_col: "col-sm-3" %>
  <%= f.form_group :precip do %>
    <%= f.check_box :precip, label: "Rain?" %>
  <% end %>
  <%= f.number_field :elev_gain, label: "Elevation gain", append: "feet", control_col: "col-sm-3" %>
  <%= f.form_group :is_race do %>
    <%= f.check_box :is_race, label: "This run is a race" %>
    <%= f.text_field :race_name, label: "Name", control_col: "col-sm-5" %>
  <% end %>
  <%= f.select :shoe_id, Shoe.all.collect {|s| [s.model, s.id]}, label: "Shoe", include_blank: true, control_col: "col-sm-5" %>
  <%= f.text_area :notes, label: "Notes", control_col: "col-sm-5" %>
  <div class="actions">
    <%= f.primary %>
  </div>
<% end %>
<script type="text/javascript">
  $(function() {
    var inputGroup = $('.bootstrap_form-datetimepicker');
    inputGroup.datetimepicker({
      //sideBySide: true,
      <% unless @run.start_time.nil? %>
      defaultDate: "<%= @run.start_time.strftime('%Y-%m-%d %H:%M') %>",
      <% end %>
      format: 'YYYY-MM-DD HH:mm'
    });
  });
</script>