<% if run.is_race? %>
<tr class="warning" title="<%= run.race_name %>">
<% elsif run.is_night? %>
<tr class="night">
<% else %>
<tr>
<% end %>
  <td class="start_time">
    <%= link_to run.start_time_local_string, run %>
  </td>
  <td <%= "class='record' title='distance record'".html_safe if run.is_distance_record? %>>
    <%= '%.2f' % run.distance %> mi
  </td>
  <td>
    <%= run.duration_string %>
  </td>
  <td <%= "class='record' title='pace record'".html_safe if run.is_pace_record? %>>
    <%= run.pace_string %>
  </td>
  <td class="<%= temp_class(run.temperature) %> <%= 'rain' if run.precip? %>" <%= 'title=rain' if run.precip? %>>
    <%= "#{run.temperature}&deg;F".html_safe unless run.temperature.nil? %>
  </td>
  <td>
    <%= "#{run.elev_gain} ft" unless run.elev_gain.nil? %>
  </td>
  <td>
    <%= star_output(run.sip_plus) %>
  </td>
  <% unless run.notes.blank? %>
    <td title="<%= run.notes %>" data-toggle="tooltip">
      <%= build_glyphicon('comment') %>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
