- row_class = run.is_night? ? 'night' : nil
- row_class = 'table-warning' if run.is_race?
- rain = run.precip?

%tr{class: row_class, title: (run.race_name if run.is_race?)}
  %td.start_time
    = link_to run.start_time_local_string, run
  %td
    #{'%.2f' % run.distance} mi
  %td
    #{run.duration_string}
  %td
    #{run.pace_string}
  %td.weather{class: "#{temp_class(run.temperature)} #{'rain' if rain}", title: ('rain' if rain)}
    - if run.weather_type
      %span.hidden-sm.hidden=run.weather_string
    - unless run.temperature.nil?
      #{run.temperature}&deg;F
  %td
    - unless run.elev_gain.nil?
      #{run.elev_gain} ft
  - if run.notes?
    %td{title: run.notes, 'data-toggle': 'tooltip'}
      = build_glyphicon('comment')
  - else
    %td