<%
  page_title = build_page_title(params)
  provide(:title, page_title)
%>

<h1><%= page_title %></h1>

<div class="center"><%= will_paginate %></div>

<div class="panel panel-default">
  <div class="panel-heading"><%= page_entries_info %></div>
  <table class="table table-hover runs">
  <thead>
    <tr>
      <th>Start time</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Pace</th>
      <th>Temperature</th>
      <th>Climb</th>
      <th>Performance</th>
      <th>Notes</th>
    </tr>
  </thead>
    <%= render @runs %>
  </table>
</div>

<div class="center"><%= will_paginate %></div>

<br />

<%= link_to 'New Run', new_run_path, class: "btn btn-large btn-success" %>

<script type="text/javascript">
  $('[data-toggle="tooltip"]').tooltip({
    container: 'body'
  })
</script>
