- if @run.is_race?
  - page_title = @run.race_name || "Race on #{@run.local_time.strftime('%B %e, %Y')}"
  - page_header = @run.race_name || "#{@run.time_of_day} race"
- else
  - page_title = @run.local_time.strftime('%B %e, %Y')
  - page_header = "#{@run.time_of_day} run"
- provide(:title, page_title)

.col-12
  .row
    .run-date-header.col-3.col-sm-2
      .card
        .card-header.bg-primary.text-center.text-white
          = @run.local_time.strftime('%b')
        .card-body.text-center
          = @run.local_time.day
    .col-6.col-sm-7
      %h1.text-left=page_header
    - if @run.is_race?
      .col-3.run-rating
        .h1=star_output(@run.race_performance)
        %p Raw rating: #{'%d' % @run.race_performance}
  %h2 Details
  .row
    .col-sm-6.col-md-4
      .card
        .card-header.bg-primary.text-white Start time
        .card-body
          %h4.card-title
            = build_icon :start_time
            = local_time_string(@run.start_time)
    .col-sm-6.col-md-4
      .card
        .card-header.bg-primary.text-white Total distance
        .card-body{class: ('record' if @run.is_distance_record?)}
          %h4.card-title
            = build_icon :distance
            #{'%.2f' % @run.distance} miles
    - if @run.duration?
      .col-sm-6.col-md-4
        .card
          .card-header.bg-primary.text-white Total duration
          .card-body
            %h4.card-title
              = build_icon :duration
              = @run.duration_string
      .col-sm-6.col-md-4
        .card
          .card-header.bg-primary.text-white Average pace
          .card-body{class: ('record' if @run.is_pace_record?)}
            %h4.card-title
              = build_icon :pace
              = @run.pace_string
    - unless @run.temperature.nil?
      .col-sm-6.col-md-4
        .card
          .card-header.bg-primary.text-white Weather
          .card-body{class: ('precip' if @run.precip?)}
            %h4.card-title
              - if @run.weather_type
                = build_icon(@run.weather_type.is_precip ? :rain : :weather)
                #{@run.weather_string},
              %span{class: temp_class(@run.temperature)} #{@run.temperature}&deg;F
    - unless @run.elev_gain.nil?
      .col-sm-6.col-md-4
        .card
          .card-header.bg-primary.text-white Total elevation gain
          .card-body
            %h4.card-title
              = build_icon :elevation
              #{@run.elev_gain} feet
              
  - if @run.shoe
    .card
      .card-header.bg-info.text-white Shoes
      .card-body
        = link_to @run.shoe_name,
                  shoe_path(@run.shoe),
                  style: "background: ##{@run.shoe.dark_color.hex}; color: ##{@run.shoe.bright_color.hex}"
  - if @run.notes?
    .card
      .card-header.bg-info.text-white Notes
      .card-body=@run.notes
  - if @run.can_be_compared?
    .card
      .card-header.bg-info.text-white Similar runs
      %table.table
        %tr
          %th Date
          %th Distance
          %th Weather
          %th Climb
          %th Similarity score
        - @run.similar_runs.each do |r|
          = render 'similar_run', run: r[:run], similarity: r[:similarity]
  .btn-toolbar{role: 'toolbar'}
    .btn-group.mr-2
      = link_to 'All Runs', runs_path, class: 'btn btn-info'
    .btn-group.mr-2
      = link_to 'Previous', run_path(@run.previous), class: 'btn btn-secondary' if @run.previous
      = link_to 'Next', run_path(@run.next), class: 'btn btn-secondary' if @run.next
    .btn-group.mr-2
      = link_to 'New Run', new_run_path, class: 'btn btn-success'
    .btn-group.mr-2
      = link_to 'Edit', edit_run_path(@run), class: 'btn btn-warning'
      = link_to 'Delete', @run, data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger'