<%
  if @run.is_race?
    page_title = @run.race_name || "Race on #{@run.local_time.strftime('%B %e, %Y')}"
    page_header = @run.race_name || "#{@run.time_of_day} race"
  else
    page_title = @run.local_time.strftime('%B %e, %Y')
    page_header = "#{@run.time_of_day} run"
  end
%>

<% provide(:title, page_title) %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="run-date-header col-sm-2 col-md-1">
    <div class="panel panel-primary">
      <div class="panel-heading text-center"><%= @run.local_time.strftime('%b') %></div>
      <div class="panel-body text-center"><%= @run.local_time.day %></div>
    </div>
  </div>
  <div class="col-sm-7 col-md-8">
    <h1 class="text-left"><%= page_header %></h1>
  </div>
  <% unless @run.sip_plus.nil? %>
    <div class="col-sm-3 run-rating">
      <div class="h1">
        <%= star_output(@run.sip_plus) %>
      </div>
      <p>Raw rating: <%= '%d' % @run.sip_plus %></p>
    </div>
  <% end %>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Details</div>
  <div class="panel-body container">
    <div class="row">
      <div class="col-md-4">
        <h3>Start time</h3>
        <p class="details">
          <%= build_glyphicon('time') %>
          <%= @run.start_time_local_time_string %>
        </p>
      </div>
      <% if @run.is_distance_record? %>
      <div class="col-md-4 dist_record">
      <% else %>
      <div class="col-md-4">
      <% end %>
        <h3>Total distance</h3>
        <p class="details">
          <%= build_glyphicon('road') %>
          <%= '%.2f' % @run.distance %> miles
        </p>
      </div>
      <% if @run.duration? %>
      <div class="col-md-4">
        <h3>Total duration</h3>
        <p class="details">
          <%= build_glyphicon('dashboard') %>
          <%= @run.duration_string %>
        </p>
      </div>
      <% end %>
    </div>
    <div class="row">
      <% if @run.duration? %>
        <% if @run.is_pace_record? %>
      <div class="col-md-4 pace_record">
        <% else %>
      <div class="col-md-4">
        <% end %>
        <h3>Average pace</h3>
        <p class="details">
          <%= build_glyphicon('map-marker') %>
          <%= @run.pace_string %>
        </p>
      </div>
      <% end %>
      <% unless @run.temperature.nil? %>
        <div class="col-md-4 <%= 'precip' if @run.precip? %>">
        <h3>Start temperature</h3>
        <p class="details <%= temp_class(@run.temperature) %>">
          <%= build_glyphicon(@run.precip? ? 'tint' : 'certificate') %>
          <%= @run.temperature %>&deg;F
        </p>
      </div>
      <% end %>
      <% unless @run.elev_gain.nil? %>
        <div class="col-md-4">
          <h3>Total elevation gain</h3>
          <p class="details">
            <%= build_glyphicon('arrow-up') %>
            <%= @run.elev_gain %> feet
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @run.shoe %>
<div class="panel panel-info">
  <div class="panel-heading">Shoes</div>
  <div class="panel-body">
    <%= link_to [@run.shoe.manufacturer, @run.shoe.model].join(' '),
                shoe_path(@run.shoe),
                style: "background: ##{@run.shoe.dark_color.hex};
                color: ##{@run.shoe.bright_color.hex}" %>
  </div>
</div>
<% end %>

<% unless @run.notes.blank? %>
<div class="panel panel-info">
  <div class="panel-heading">Notes</div>
  <div class="panel-body"><%= @run.notes %></div>
</div>
<% end %>

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <%= link_to 'All Runs', runs_path, class: "btn btn-info" %>
  </div>
  <div class="btn-group">
    <%= link_to 'New Run', new_run_path, class: "btn btn-success" %>
  </div>
  <div class="btn-group">
    <%= link_to 'Edit', edit_run_path(@run), class: "btn btn-warning" %>
    <%= link_to 'Delete', @run, data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
