<%= bootstrap_form_for(@shoe, layout: :horizontal) do |f| %>
  <% if @shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% @shoe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.text_field :manufacturer, label: "Manufacturer" %>
  <%= f.text_field :model, label: "Model" %>
  <%= f.number_field :size, label: "Size", step: 0.5 %>
  <%= f.text_field :color_primary, label: "Color 1", prepend: "#" %>
  <%= f.text_field :color_secondary, label: "Color 2", prepend: "#" %>
  <%= f.text_field :color_tertiary, label: "Color 3", prepend: "#" %>
  <div class="actions">
    <%= f.primary %>
  </div>
<% end %>
