= form_for(shoe) do |f|
  .row.mb-3
    = f.label :manufacturer, 'Manufacturer', class: 'col-sm-3 col-form-label'
    .col-sm-3
      = f.text_field :manufacturer, class: 'form-control'
  .row.mb-3
    = f.label :model, 'Model', class: 'col-sm-3 col-form-label'
    .col-sm-3
      = f.text_field :model, class: 'form-control'
  .row.mb-3
    = f.label :size, 'Size', class: 'col-sm-3 col-form-label'
    .col-sm-3
      = f.number_field :size, step: 0.5, in: 1..20, class: 'form-control'
  .row.mb-3
    = f.label :color_primary, 'Color 1', class: 'col-sm-3 col-form-label'
    .col-sm-3
      .input-group
        .input-group-text #
        = f.text_field :color_primary, maxlength: 6, class: 'form-control'
  .row.mb-3
    = f.label :color_secondary, 'Color 2', class: 'col-sm-3 col-form-label'
    .col-sm-3
      .input-group
        .input-group-text #
        = f.text_field :color_secondary, maxlength: 6, class: 'form-control'
  .row.mb-3
    = f.label :color_tertiary, 'Color 3', class: 'col-sm-3 col-form-label'
    .col-sm-3
      .input-group
        .input-group-text #
        = f.text_field :color_tertiary, maxlength: 6, class: 'form-control'
  .row.mb-3
    .col-sm-6.offset-sm-3
      = submit_tag button_title, class: 'btn btn-primary'