<tr data-link="<%= shoe_path(shoe) %>">
  <td><%= shoe.manufacturer %></td>
  <td><%= shoe.model %></td>
  <td>
    <div class="col-sm-4" style="background: #<%= shoe.color_primary %>">&nbsp;</div>
    <div class="col-sm-4" style="background: #<%= shoe.color_secondary %>">&nbsp;</div>
    <div class="col-sm-4" style="background: #<%= shoe.color_tertiary %>">&nbsp;</div>
  </td>
  <td><%= shoe.size %></td>
  <td><%= shoe.last_used_local_string %></td>
  <td><%= shoe.runs.count %></td>
  <td><%= '%.2f' % shoe.mileage %></td>
  <td><%= link_to 'View', shoe_path(shoe), class: 'btn btn-xs btn-default' %></td>
</tr>
